﻿@section HeadTitle
{
    <h1>File Upload</h1>
}

@using (Html.BeginForm("Add", "FileShares", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
{
    <div class="form-group">
        <label for="file">File</label>
        <input type="file" name="file" id="file"/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}

