﻿@model IQueryable<FileSharingApplication.Areas.Share.Models.FileShare>
@section HeadTitle
{
    <h1>Files</h1>
}
@*TODO: Add Grid*@
<div class="row">
    <div class="col-xs-6 col-md-4">
        Title
    </div>
    <div class="col-xs-6 col-md-4">
        Upload date
    </div>
    <div class="col-xs-6 col-md-4">
        Actions
    </div>
</div>
@foreach (var share in Model)
{
    <br/>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="@share.Url">@share.Title</a>
        </div>
        <div class="col-xs-6 col-md-4">
            @share.CreationDate
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Delete", "FileShares", new { area = "Share", id = share.Id })" class="btn btn-default">Delete</a>
        </div>
    </div>
}

<a href="@Url.Action("Add", "FileShares", new { area = "Share" })" class="btn btn-default">Upload</a>

