﻿@model FileSharingApplication.Account.Models.User

@{
    ViewBag.Title = "Cabinet";
    var context = DataContext.JoinOrCreate();
}

@section HeadTitle
{
    <h2>Cabinet</h2>
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>
                @role.Name
            </li>
        }
    </ul>
</div>
