﻿@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Users", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        @Html.Label("Login", "Login")
        @Html.TextBox("Login", ViewData["Login"], new { @class = "form-control", placeholder = "Enter login" })
    </div>

    <div class="form-group">
        @Html.Label("Password", "Password")
        @Html.Password("Password", ViewData["Login"], new { @class = "form-control", placeholder = "Enter password" })
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}

