﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.RouteUrl("Index")"><span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("Default", new { action = "About", controller = "Home" })"><span class="glyphicon glyphicon-question-sign"></span></a>
                    </li>
                    @*<li>
                            <a href="@Url.RouteUrl("Default", new { action = "Contact", controller = "Home" })">Contacts</a>
                        </li>*@

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("Logoff", "Users", new { area = "Account" })"><span class="glyphicon glyphicon-log-out"></span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "FileShares", new { area = "Share" })">
                                <span class="glyphicon glyphicon-th-list">
                                </span> Files
                            </a>
                        </li>
                        <li>
                            <p class="navbar-text">Signed in as <a href="@Url.Action("Cabinet", "Users", new { area = "Account" })">@User.Identity.Name</a></p>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login", "Users", new { area = "Account" })">
                                <span class="glyphicon glyphicon-log-in">
                                </span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("HeadTitle", false)
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
