﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model System.Web.Mvc.HandleErrorInfo
@section HeadTitle
{
    Error
}
<hgroup>
    @if (/*User.IsInRole(FileSharingApplication.Account.Models.Role.Administrator) || System.Diagnostics.Debugger.IsAttached*/ true)
    {
        <h2>Error Description</h2>
        <p>Controller: @Model.ControllerName </p>
        <p>ActionName: @Model.ActionName</p>
        <p>Exception: @Model.Exception.ToString()</p>
    }
    else
    {
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    }
</hgroup>
